<div class = "container">
<h1>Gästbok</h1>
<form action="#">
	<div class="row">
		<div class="span3">
			<label for="alias">Alias</label>
		</div>
		<div class="span5" id="alias-container">
			<input type="text" name="alias" id = "alias" style="width:100%;" >
		</div>
	</div>

	<div class = "row">
		<div class="span3">
			<label for="gb-input">Meddelande</label>
		</div>
		<div class="span5">
			<textarea 
				id="gb-input" 
				name="gb-input" 
				style="width:100%;" rows="5"
			/>
		</div>
	</div>
	<div class = "row">
		<div class="span8" style="text-align: right;">
			<input type="submit" value="Spara" >
		</span>
	</div>
</form>
	<div class="row" >
		<div class="span6 offset3 alert alert-error" id="message" style="text-align: center; margin-top: 10px;">
			Laddar gästboksinlägg...
		</div>
	</div>
</div>
